#main {
    display: flex;
    justify-content: center;
    
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    height: auto;
    
    background-color: #d8eefe;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    
    margin: 40px 0px;
    width: 60%;
}