#shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    column-gap: 20px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.shop-item img {
    max-height: 300px;
}

.shop-item p {
    padding: 0;
    margin: 0;
}