#root {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  min-height: 100%;
  height: auto;
}

:root {
  --header-height: 80px;
  --footer-height: 40px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}